html {
  height: 100%;
}

.dino {
  border: 2px solid yellow;
}

body {
  margin: 0;
  height: 100%;
  /* font: 16px / 1 sans-serif; (Original Font) */
  font-family: 'Roboto', sans-serif;
  background-image: url(./images/space.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {  
  display: flex;
  justify-content: center;
  padding: 2em;
}

.bubble-container {

}

.text-bubble {
  color: black;
  margin: 6em;
  border-radius: .5em;
  height: 6em;
  background-color: white;
}

.text-bubble img {
display: flex;
justify-content: flex-start;
padding: 1em;
margin-left: 0em;
}

.middle-upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10em;
}

.one-list {
  border-radius: .5em;
  height: 10em;
  width: 12em;
  margin: 0.5em;
}

.rain {
  border-radius: .5em;
  height: 10em;
  width: 12em;
  margin: 0.5em;
}

.bomb {
  border-radius: .5em;
  height: 10em;
  width: 12em;
  margin: 0.5em;
}

.sensei {
  border-radius: 0.5em;
  height: 10em;
  width: 12em;
  margin: 0.5em;
}

.middle-mid-section {

}

.middle-lower-section {
 
}

.bottom-section {
  
}

.footer {
  
}