html {
  height: 100%;
}

.dino {
  border: 2px solid yellow;
}

body {
  margin: 0;
  height: 100%;
  /* font: 16px / 1 sans-serif; (Original Font) */
  font-family: 'Roboto', sans-serif;
  background-image: url(./images/space.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.element-one {  
  display: flex;
  justify-content: center;
}

.avatar {
  height: 13em;
  width: 11em;
  border-radius: 0.5em;
  margin: 12em;
  margin-left: 4em;
}

.text-bubble img {
display: flex;
justify-content: flex-start;
padding: 1em;
margin-left: 0em;
}

.text-bubble {
  color: black;
  margin: 11em;
  border-radius: .5em;
  height: 7em;
  padding-right: 15em;
  background-color: white;
}

.element-two {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

.one-list {
  border-radius: .5em;
  height: 8em;
  width: 11em;
  margin: 0.5em;
}

.rain {
  border-radius: .5em;
  height: 8em;
  width: 11em;
  margin: 0.5em;
}

.bomb {
  border-radius: .5em;
  height: 8em;
  width: 11em;
  margin: 0.5em;
}

.sensei {
  border-radius: .5em;
  height: 8em;
  width: 11em;
  margin: 0.5em;
}

.element-three {
 display: flex;
 flex-direction: column;
 color: blue;
 background-color: white;
}

.element-three img {
  height: 5em;
  width: fit-content;
}

.element-four {
  display: flex;
  flex-direction: column;
  color: blue;
  background-color: white;
 }
 
 .element-four img {
   height: 5em;
   width: fit-content;
 }

 .element-five {

 }

 .element-footer {
   
 }